extends layout

block layout-content
  div.View
    h1.Banner Inventory Management
    div.Message
      div.Title
        h3 Leading through thoughts
        h1 Technology for good
      span.Details Know more about us
    div.NavButtons
      a(href="/user")
          div.NavButton Let's explore