extends layout

block layout-content

  body
    h1.Banner Details
    table
      tr
         th Name
         th Position
         th Address
         th Phone
        
      each n in dataProfile
        tr
          td= n.name
          td= n.position
          td= n.address
          td= n.phone
          
    
  div.NavButtons
    a(herf="/user")
      div.NavButton Back